commit.msg
commit.txt
pornhosts.geany
miniconda.sh
miniconda/**
test.tmp
# .pyfunceble/db_types/
# active_domains/db_types/
local_scripts/
active_domains/output/merged_results/**
dir_structure.json
./output/**


# Dev scripts
scripts/record-test.py

# Visual Basic Code
.vscode/**
*.code-workspace
