commit.msg
commit.txt
pornhosts.geany
miniconda.sh
test.tmp
.pyfunceble/db_types/
active_domains/db_types/
local_scripts/
dir_structure.json
output/


# Dev scripts
travis/record-test.py

# Visual Basic Code
.vscode/**
*.code-workspace
